<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>So it better pull thru when it comes to me <br/> Let it go down like it's supposed to be
    </p>
    <a href="/skills">Acquired Skills</a>
  </body>
</html>
